doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/css/style.css")
    body
        if message
            .alerts
                if message.type == 'error'
                    .alert.alert-danger= message.content
                else if message.type == 'success'
                    .alert.alert-success= message.content

        h1(style="text-align: center; padding: 10px; background-color: #fafafa; width: 200px; color: black; margin: 0 auto") Salvus
        
        block content

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script.
            setTimeout(function() {
                $('.alert').fadeOut('slow');
            }, 3000);