extends ../master
block content
    h1 Welcome to the back room, #{user.name}!

    p
        | You can use the following links to manage your account:

    h1 Links 
    a(href='/backroom/users') User database (JSON)
    br
    a(href='/backroom/messages') Message database (JSON)