extends ../master
block content
    h1 Welcome to the back room, #{user.name}!

    p
        | You can use the following links to manage your account:

    h1 Links 
    a(href='/backroom/users') User database (JSON)
    br
    a(href='/backroom/messages') Message database (JSON)

    h1 Chat Room Run Mode 
    // choice of run mode input
    form(action='/backroom/runmode', method='post')
        label(for='runMode') Run Mode:
        if runMode == "development"
            select(name='runMode')
                option(value='development' selected) Development
                option(value='production') Production
        else
            select(name='runMode')
                option(value='development') Development
                option(value='production' selected) Production
        input(type='submit', value='Set')