extends ../master
block content
    h1 Welcome back, #{user.name}!
    a(href="/chat") Chat
    br
    a(href="/get-that-gold") Get that gold (game)
    br

    if user.name == "sebmandal"
        a(href="/backroom") Backroom
        br

    a(href="/agreements") Agreements
    br
    a(href='/logout') Logout