extends ../master
block content
    h1 Welcome back, #{user.name}!
    a(href="/messages/") Messages
    br
    a(href="/messages/send") Send a message
    br
    a(href="/get-that-gold") Get that gold (game)
    br
    a(href='/logout') Logout