extends ../master
block content
    h1 Welcome back, #{user.name}!
    // get all messages from the database using JavaScript, using the fetch() function
    script.
        const messages = fetch('/messages')
        .then(response => response.json())
        .then(messages => {
            messages.forEach(message => {
                const messageElement = document.createElement('div')
                messageElement.innerHTML = `
                    <div class="message">
                        <div class="message-header">
                            <h2>${message.title}</h2>
                            <h3>${message.author}</h3>
                        </div>
                        <div class="message-body">
                            ${message.body}
                        </div>
                    </div>
                `
                document.body.appendChild(messageElement)
            })
        })