extends ../master
block content
    .links
        a(href="/") Back to home
        |  | 
        a(href="/messages/send") Send a message

    h1 Messages
    for message in messages
        .message-container
            .message-content Message: #{message.message}
            br
            .message-sender Sender: #{message.sender}
            .message-recipient Recipient: #{message.recipient}