extends ../master
block content
    .links
        a(href="/") Back to home
        |  | 
        a(href="/messages/") Back to inbox

    .message-form
        .message-form-header
            h1 Send Message
        .message-form-body
            form(action="/messages/send", method="post")
                .form-group
                    label(for="message") Message
                    textarea(name="message", id="message", rows="5", cols="40")
                .form-group
                    label(for="recipient") Recipient
                    input(type="text", name="recipient", id="recipient", placeholder="username")
                .form-group
                    input(type="submit", value="Send")